<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
<title>create_profile</title>
<link rel="stylesheet"  type="text/css"  href="css/index.css">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

</head>
<body >
<div  id="logincontainer"  >
	<div  ng-app="myapp" ng-controller="myCtrl">
		<div class="main1">
		<div class="row">
		<div class="col-xs-12 title">
		<a href="icon.html" data-ajax="false"> 
       <span ><h4>&#8592; Back</h4></span></a>
       </div>
		<!-- <a onclick="myFunction_01()"> <h4></h4></a>
		</div> -->
		</div>
		<div class="row">
		<div class="col-xs-8 title1"><h2>How to <br/>Be a<br/> Finn?</h2></div>
		<div class="col-xs-4 title1"><img src="img/foxldpi.png"></div>
		</div>
		<div class="col-xs-12 ">	
		<form  class="formstyle"  method="post">
			
				<input type="submit" class="signupfacebtn" value="Sign in with facebook" ng-click="submit(student)"></br>
				<input type="submit" class="signupgoolebtn"  value="Sign in with google" ng-click="submit(student)">
			</form>
			</div>
<div  class="row ">
	<div class="bottombox">
				<div class="col-xs-5 bottomtext"><span class="bottomtext"  ><a href="login.html" data-ajax="false"> Login</a></span></div>
				<div class="col-xs-2 divider">&nbsp;</div>
				<div class="col-xs-5 bottomtext1"><span class="bottomtext1" data-ajax="false" ><a href="sign_up.html">Sign Up</a></span></div>
				</div>
			</div>
		</div>
		
	</div>
	</div>
	
  
   
</body>
</html>

