#splash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* Full-width input fields 
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0.3); /* make transparent link selection, adjust last value opacity 0 to 1.0 
 }*/
 @font-face {
    font-family: 'Varela Round', sans-serif;
    src: url(fonts/VarelaRound-Regular.ttf) format("TrueType");
     
  }

  html {
  font-family: 'Varela Round', sans-serif;

  }
body {
   -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
      font-family: 'Varela Round', sans-serif !important; 
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
 
     }

  .title h1{
 position: relative;
 left:20%; 
 color:#006699; 
 font-size:24px; 
 font-weight:200;
  }
.dots{
  margin-top: 10px;
}
  #menubar{
     margin:20px 0px 0px 0px;

     cursor: pointer;
    color: #0faae2;

  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #aef0fc1;
}

.ui-btn.ui-icon-bars.ui-btn-icon-right  {
     position: relative;
   /* display: inline-block;*/
   height: 25px;
     width: 20px;
     border-color: #f6f6f6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    top:45px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

 
    
 .containerbox{
   top: 5%;
   left: 0%;
   overflow: hidden;
   width:100%;
   position: relative;
   
   
   }
    .lesson_bg_everydaykit{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background: url("../img/survivalkit.jpg");
  position:absolute; 
  background-size: cover;   
  width:100%; 
  top: 0; 
  left: 0;
  z-index: 0;
  margin: 0px !important;
 height:500px;
}

    .lesson_bg_gtk{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background: url("../img/Get to Know a Finn.jpg");
  position:absolute; 
  background-size: cover;   
  width:100%; 
  top: 0; 
  left: 0;
  z-index: 0;
  margin: 0px !important;
 height:500px;
}

 .lesson_bg_food{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background: url("../img/Food.jpg");
  position:absolute; 
  background-size: cover;   
  width:100%; 
  top: 0; 
  left: 0;
  z-index: 0;
  margin: 0px !important;
 height:500px;
}
 .lesson_bg_communication{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background: url("../img/Communication.jpg");
  position:absolute; 
  background-size: cover;   
  width:100%; 
  top: 0; 
  left: 0;
  z-index: 0;
  margin: 0px !important;
 height:500px;
}

   
   .lesson_bg_movingaround{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background: url("../img/Moving_around.jpg");
  position:absolute; 
  background-size: cover;   
  width:100%; 
  top: 0; 
  left: 0;
  z-index: 0;
  margin: 0px !important;
 height:500px;
}
.lesson_bg_quiz{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background: url("../img/quiz_lesson.jpeg");
  position:absolute; 
  background-size: cover;   
  
  top: 0; 
  left: 0;
  z-index: 0;
  margin: 0px !important;
 height:500px;
}


.bg_lessonbox {
       
      padding: 20px;
   white-space:nowrap;
      overflow-x:auto;
   }

.box_square{
      background-color: white;
      border-radius: 20px;
      height: 230px;
      width: 180px;
      display:inline-block;
     margin: 180px 40px 0 30px;
     padding: 10px 30px 0 25px; 
     text-align:center;
     font-size: 12px;
    
}

.box_square_quiz{
      background-color: white;
      border-radius: 20px;
     
      height: 230px;
     
      width: 180px;
      display:inline-block;
     margin: 220px 40px 0 80px;
     padding: 10px 25px 0 25px; 
     text-align:center;
     font-size: 12px;
    
}


#lesson_continue_btn{
position:relative;

height:30px; 
width:100px;   

}
#lesson_select_btn1{
position:relative;
border-radius: 60px;
background-color: #2396ef;
color: black;
height:30px; 
width:100px;
padding: 5px;
}
#bottom_color_box_in_lessonbg{
  background-color: #6af7be;
  background-size: cover;
  position: fixed;
  bottom: 20px;
}
#lesson_title h4{

  color:black;
}
  .card-bg{
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
   position: absolute;    
  width:100%; 
  top: 0; 
   left: 0;
   background-size: cover;
    height:200px;
    z-index: -1;
    margin: 0px !important;
}
.card-bg1{
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
   position: absolute;    
  width:100%; 
  top: 0; 
   left: 0;
   background-size: cover;
    height:200px;
    z-index: -1;
    margin: 0px !important;
}

.card-bgg{
 
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%; 
    height:200px;
   top: 0; 
left: 0; 
    z-index: 0;
    margin: 0px !important;
}
.card-bg07{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background: url("../img/quizxhdpi.png");
  position:relative;    
  width:100%; 
  top: 0; 
  left: 0;
  z-index: -1;
  margin: 0px !important;
 height:200px;
}


progress {
  margin:40px 5px 5px 0px; 
 
 border-radius: 10px;
  height:5px !important;
  width:95%;
  background-color: #ffffff !important;  
  opacity: 80;
   color: #f47aeb !important;
   
    /*border: 0px solid #cc99ff;
    border-radius: 4px;
    width: 100%;
    height: 15px;
    margin: 4px;
    display: block;
    opacity: 80;*/
}
 
  .progress{
margin:40px 5px 5px 0px; 
 color: #f47aeb!important;
 
 border-radius: 10px;
  height:5px !important;
  width:95%;
   background-color: #ffffff !important;   
  opacity: 80;
   
  
}
 

 #closerModel{
    cursor: pointer;  
    color: #000000;
    font-size: 1.5em;
    line-height: 3.5;
    position: relative;
    margin-top: .3em !important;
    margin-left: 3%;
    font-weight: normal;
    border-color:white;
    opacity: 80;
   
}

#title{
	text-align:center;
	}



/*icons/lessons - position */
   #intro01 {
    cursor: pointer;
    left:30%;
	position:relative;
	width:40%;
	height:90px;
}  
 #everydaykit01 {
   cursor: pointer;
   left:20%;
   position:relative;
   width:50%;
   height:50px;

   } 
#gtk_01 {
    cursor: pointer;
    left:47%;
   position:relative;
   width:35%;
   height:70px;
} 
#food_01 {
	cursor: pointer;
left:27%;
   position:relative;
   width:90px;
   height:100px;"
} 
#com_01 {
    cursor: pointer;
    left:15%;
   position:relative;
    width:200px;
	height:65px;
   } 
#mov_01 {
   cursor: pointer;
    left:32%;
   position:relative;
    width:190px;
	height:100px;"
   }
#out_01 {
    left:20%;
   position:relative;
   width:130px;
   height:70px;
   }
#go_01 {
    left:40%;
   position:relative;
   width:90px;
   height:60px;
}
#health_01{
	left:23%;
     position:relative;
	width:90px;
   height:110px;
}
#cul_01 {
   left:20%;
     position:relative;
	width:130px;
   height:50px;
}
#spacer_01 {
 left:35%;
    position:relative;
	width:110px;
   height:80px;
}
#bur_01 {
   left:20%;
    position:relative;
	width:40px;
   height:35px;
	
} 
#profile_01{
	top:20%;
	left:80%;
    position:absolute;
	width:28px;
   height:30px;
	}  
#ply01{
	top:20%;
	left:5%;
    position:absolute;
	width:50px;
   height:30px;
	}
  #calender_inact{
    top:20%;
  left:40%;
    position:absolute;
  width:40px;
   height:30px;
  }
 
.slideshow {
    background color: :white;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    opacity: 80%;
    padding-top: 30px;
 }
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
   .continue,.text {font-size: 11px}
}
/*quiz button in index page*/
#quiz_01{
  border-style: solid;
 height: 35px;
 width: 100%;
  border-radius: 5px;
  font-size: 10px;
   font-weight: normal;               
  color: #ffffff;
  margin-left:2px;
  background-color: #2aaced;
  border-color: #bfc1ba;
  text-align: center;
  
}

input [type=radio]{
display: block;
  position: relative;
  padding: 55px -85px 25px -2px;
  margin: 5px auto;
  height: 10px;
  
}
ul label{
  display: block;
  position: relative;
  padding: 5px 15px 25px 30px;
  margin: 5px auto;
  height: 10px;
  
}
 
#submitButton{
width: 50%;
position: relative;
left: 25%;
background-color: #f2667e;
border-radius: 15px;
color: white;
text-align: center;
border-width: 0px;

}


.footer {
  position:fixed;
  Bottom:0;
  Left:0;
  Right:0;
  height:60px;
  background-color: #efefef;
  text-align: center;
}
/*-----------------learning card-----------*/


#bulb_icon{
 position: relative;
 top: 40%;
 left:0%;
 background-color: white;
 height: 150px;
 width: 100px;
}
#fox1_icon{
position: relative;
 top: 40%;
 left:0%;
 background-color: white;
 height: 120px;
 width: 100px;

}
#lastcard{
  padding: 0px;
  text-align: center;
}


#pizza_text{
  background-color:  #FFF;
text-align: justify;
width: 82%;
left: 8%;
padding: 30px;
top:40%;
}

.person img{
  float: left;
  margin: 70px 0px 0px 20px;
  height: 60px;
  width:60px;
}

.fox img{
  float: right;
   margin: 80px 25px 0px 0px;
  height: 50px;
  width:50px;
}
.box
   {
    position: relative;
    background: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 15px; 
    margin: 5px 35px 20px 15px;
    width:90%; 
   

  }

.box:before{
  content: "";
  position: absolute;
    top: -30px;
    left:50px;
    z-index: -1;
    border: solid 59px transparent;
    border-right-color: #FFF;
    -webkit-transform: rotate(155deg);
  -moz-transform: rotate(155deg);
  transform: rotate(175deg);
}

 
  .bg{
  width:100%; 
 
    height:500px;
    background-color:#F1F4F9 !important; 
    z-index: 1;
}

.mySlides{
  color: #000;
  padding: 30px;
  text-align: justify;
  }

  .mySlides1{
  color: #000;
  padding: 30px;
  text-align: justify;
  }

 
 #logincontainer{

  background-image: url("../img/login_bgldpi.png") !important;
     width:100% ; 
 
    margin:0px !important;
    height:560px !important;
   background-size: cover !important;
     
    }
.logincontainer1{
  width:100% ; 
 
    margin:0 ;
    height:100% !important;
  
  background-image: url("../img/login_bgldpi.png") !important;
   
      background-size: cover;
    }

   
.login input[type=text] {
    border-bottom: solid 1px white;
    border-top: none;
    border-left: none;
    border-right: none;  
    color:white !important;
    padding:5px;
     width:100%;
     margin:20px 10px 0px 0px; 
     font-size: 14px;
     background: none;
    
}

.login input[type=password] {
    border-bottom: solid 1px white;
    border-top: none;
    border-left: none;
    border-right: none;  
    color:white !important;
    padding:5px;
     width:100%;
    margin:20px 10px 0px 0px; 
     font-size: 14px;
     background: none;

}
.sign input[type=submit] {
    padding: 10px ; 
    margin: 20px 0px 0px 0px;
    background: #0084E9;
    width:100%;
    border-radius: 60px;
    color:white;
    font-size: 14px;
    
}
.sign input[type=text] {
    border-bottom: solid 1px #E4E7E9;
    border-top: none;
    border-left: none;
    border-right: none;  
    color:#7F7C7C;  
    padding:5px;
     width: 100%;
    
     font-size: 14px;
    
}
.sign input[type=email] {
    border-bottom: solid 1px #E4E7E9;
    border-top: none;
    border-left: none;
    border-right: none;  
    color:#7F7C7C;  
    padding:5px;
     width: 100%;
    
     font-size: 14px;
    
}
.sign input[type=password] {
    border-bottom: solid 1px #E4E7E9;
    border-top: none;
    border-left: none;
    border-right: none;  
    color:#7F7C7C;  
    padding:5px;
     width: 100%;
   
     font-size: 14px;
    
}

input[type="text"]:focus{
   
    outline: none;

}
.login input[type=submit] {
    padding: 10px ; 
    margin: 40px 0px 0px 0px;
    background: #0084E9;
    width:100%;
    border-radius: 60px;
    color:white;
    font-size: 14px;
}
.main{ width:90%;  margin:auto !important; }

.main1{ width:91%;  margin:auto !important; }
.login form{align:center; width:100%; margin:auto !important;  }

.signup {color:black; float:left; padding:25px;}


.signupfacebtn {
    
    padding: 10px ; 
    margin: 20px 0px 0px 0px;
    background: #0084e9;
    width:100%;
    border-radius: 50px;
      color:white;
    font-size: 14px;
    height: 40px;
    border: 0px;
}
.signupgoolebtn {
    
    padding: 10px ; 
    margin: 25px 0px 0px 0px;
    background: #F44236;
    width:100%;
     border-radius: 150px;
      color:white;
    font-size: 14px;
    height: 40px;
    border: 0px;
}
div.profilepic {
    width:100px;
    height: 100px;
    background: url("../img/uploadpicldpi.png");
    background-size: cover;
    overflow: hidden;
    margin: 5% 50% 5% 25%;
}

div.profilepic input {
    display: block !important;
   width:320px;
    height: 324px;
    opacity: 0 !important;
    overflow: hidden !important;
}
.title h2{
  color:#0084E9;
   margin: 10% 70% 5% 5%;
  font-size: 14px;
   cursor: pointer;

  }

.title h4{
  color:white;
  margin: 15% 60% 5% 5%;
  font-size: 14px;
  padding:10px;
}
.title2 h2{
  color:white;
  margin-top: 150px;
  font-size: 150px;
  padding:10px;
  cursor: pointer;
}

.title1 h2{
  color:white;
  font-size: 50px;
  padding:5px; 
   margin: 10% 5% 10% 10%;
  
}

.title1 img{
  vertical-align:bottom;
  margin-top: 120px;
  width:60px;
  height: 60px; 
}

.title2 img{
  vertical-align:bottom;
  margin-top: 450px;
}

.divider{
    position:absolute;
   left:15%;
    top:20%;
    border-left:1px solid #ABAEB3;
}

.bottombox{
  background-color: white;
 
  margin: 54% 0% 0% 0% !important;
  height: 51px;
  
}
.bottomtext{
  color:#0084e9;
 text-align: center;
 padding-top: 15px;
 padding-left: 25px;
  font-size: 14px;
}
.bottomtext1{
  color:#0084e9;
 text-align: center;
 padding-top: 15px;
 padding-left: 20px;
  font-size: 14px;
}
.bottomtext3{
  color:white;
 text-align: center;
 margin-top: 20px;
  font-size: 16px;
}
 
 .continue_index{
  position: relative;
left: 20%;
 }

  .continue {
  position:fixed;
 vertical-align: bottom;
left: 30%;
top:90%;
}

#result_continue_btn{

 position:fixed;
 vertical-align: bottom;
left: 30%;
top:90%; 
height:30px; 
width:130px;
}

 
 #intro_save_btn{


position: relative;

float:left; 
 }


.lessonsbg{
    width:100% ; 
  background-color:#3D2FC8; 
   
    height:100%;
    }


.lessonsbg1{
    width:100px;
    height: 100px;
  background-color:#fff; 
   border-radius: 12px;
    color: "black";
    }

  .box ul{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
p .question{
font-size: 14px;
}

.box label{

  font-weight: normal;
  font-size: 10px;
  padding: 5px 10px 25px 40px;
  margin: 8px auto;
  height: 30px;
  
  
}
.box ul label{
  font-size: 12px;
}

